/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.logo img {
    width: 80px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

nav ul li a:hover,
nav ul li a.ativo {
    text-decoration: underline;
}

/* Banner */
.banner {
    background: url('banner-homem.jpg') no-repeat center center/cover;
    color: #1a1919;
    padding: 3rem;
    text-align: center;
}

.banner h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

/* Categorias */
.categorias {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
}

.categoria {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.categorias h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.grid-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.produto {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: calc(33.333% - 2rem);
    max-width: 200px;
    flex: 1 1 calc(33.333% - 2rem);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.produto h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.produto p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #000;
}

/* Categorias Vestuário e Acessórios */
.categoria {
    margin-top: 2rem;
}

.categoria a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categoria a:hover {
    background-color: #e4e4e4;
}

/* Produtos */
.grid-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.produto {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: calc(33.333% - 2rem);
    max-width: 200px;
    flex: 1 1 calc(33.333% - 2rem);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* Produtos em Destaque */
.produtos h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.produtos {
    text-align: center;
    margin: 2rem auto;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #000;
    color: #fff;
}
